@model IssueTracker.ViewModels.StateViewModel

@{
    Layout = "~/Views/Shared/_SettingsTabbedLayout.cshtml";
    ViewBag.Title = StateStrings.TitleDelete;
}

<h2>@ViewBag.Title</h2>

<h3>@SharedStrings.DeleteMessageGeneric</h3>
<div>
    <hr />
    <span class="text-danger">@ViewBag.ErrorSQL</span>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            <span class="label state" style="background-color: @Html.DisplayFor(model => model.Colour);">@Html.DisplayFor(model => model.Title)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsInitial)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@SharedStrings.FormDelete" class="btn btn-danger" /> |
            @Html.ActionLink(SharedStrings.BackToList, "Index")
        </div>
    }
</div>
