@model IssueTracker.ViewModels.StateViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>State</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            <span class="label state" style="background-color: @Html.DisplayFor(model => model.Colour);">@Html.DisplayFor(model => model.Title)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsInitial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
