@model IEnumerable<IssueTracker.ViewModels.StateViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>All States</h2>

@if (Model.ToList().Count == 0)
{
    <i>No state found. Create @Html.ActionLink("a new state", "Create").</i>
}
else
{
    <p>
        @Html.ActionLink("Create New State", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
        @{var hasInitialState = false;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span class="label state" style="background-color: @Html.DisplayFor(modelItem => item.Colour);">@Html.DisplayFor(modelItem => item.Title)</span>
                    @if (item.IsInitial)
                    {
                        <span class="label initial">INITIAL</span>
                        hasInitialState = true;
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
        }
    </table>
    if (!hasInitialState)
    {
        <i class="text-danger">No state is set as initial.</i>
    }
}