@model IEnumerable<IssueTracker.ViewModels.StateViewModel>

@Scripts.Render("~/bundles/jquery-browser")
@Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/reordering")
<script type="text/javascript">
    $(document).ready(function() {
        $('#orderedTable').dataTable({
            bPaginate: false,
            bInfo: false,
            bSortClasses: false,
            bFilter: false
        }).rowReordering({
            sURL: "/States/UpdateOrder"
        });
    });
</script>

@{
    Layout = "~/Views/Shared/_SettingsTabbedLayout.cshtml";
    ViewBag.Title = "Index";
}

<h2>All States</h2>

@if (Model.ToList().Count == 0)
{
    <i>No state found. Create @Html.ActionLink("a new state", "Create").</i>
}
else
{
    <p>
        @Html.ActionLink("Create New State", "Create")
    </p>
    <table class="display" id="orderedTable">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @{var hasInitialState = false;}
            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderIndex)
                    </td>
                    <td>
                        <span class="label state" style="background-color: @Html.DisplayFor(modelItem => item.Colour);">@Html.DisplayFor(modelItem => item.Title)</span>
                        @if (item.IsInitial)
                        {
                            <span class="label initial">INITIAL</span>
                            hasInitialState = true;
                        }
                    </td>
                    <td class="align-right">
                        @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                        @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                    </td>
                </tr>
            }
        </tbody>
    </table>
    if (!hasInitialState)
    {
        <i class="text-danger">No state is set as initial.</i>
    }
}