@model IssueTracker.Data.Entities.ApplicationUser

@{
    ViewBag.Title = UserStrings.TitleDetails;
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    @if (User.IsInRole("Administrators"))
    {
        <div id="create-button" class="float-right">
            <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Edit", "Users", new {id = Model.Id})'">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> @SharedStrings.ButtonEdit
            </button>
            <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("Delete", "Users", new { id = Model.Id })'">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> @SharedStrings.ButtonDelete
            </button>
        </div>
    }
    <dl class="dl-horizontal">
        <dt>
            @UserStrings.ApplicationUserUsername
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @UserStrings.ApplicationUserEmail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @UserStrings.ApplicationUserPhone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(UserStrings.BackToList, "Index")
</p>
