@model IEnumerable<IssueTracker.Entities.ApplicationUser>
@using IssueTracker.Extensions;

@{
    ViewBag.Title = UserStrings.TitleIndex;
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<ul class="nav nav-tabs">
    <li role="presentation" class="@Html.ActivePage("Users")"><a href="@Url.Action("Index", "Users")">@SharedStrings.TabAll</a></li>
</ul>
<h2>@ViewBag.Title</h2>

<table class="table entity-listing">
    <tr>
        <th>
            @UserStrings.ApplicationUserUsername
        </th>
        <th>
            @UserStrings.ApplicationUserEmail
        </th>
        <th>
            @UserStrings.ApplicationUserPhone
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.UserName, "Details", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
        </td>
    </tr>
}

</table>