@model IEnumerable<IssueTracker.Data.Entities.ApplicationUser>
@using IssueTracker.Extensions;

@{
    ViewBag.Title = "List of Users";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<ul class="nav nav-tabs">
    <li role="presentation" class="@Html.ActivePage("Users")"><a href="@Url.Action("Index", "Users")">All</a></li>
    @if (ViewContext.RouteData.Values["action"].ToString() == "Index")
    {
        <li id="create-button">
            <button type="button" class="btn btn-primary" onclick="location.href=location.href +'/Create'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </button>
        </li>
    }
</ul>
<h2>All Users</h2>

<table class="table entity-listing">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.UserName, "Details", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
        </td>
    </tr>
}

</table>
