@model IssueTracker.ViewModels.ProjectViewModel

@{
    ViewBag.Title = SharedStrings.FormDelete;
}

<h2>@ViewBag.Title</h2>

<h3>@SharedStrings.DeleteMessageGeneric</h3>
<div>
    <h4>@ProjectStrings.EntityName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@SharedStrings.FormDelete" class="btn btn-danger" /> |
            @Html.ActionLink(@SharedStrings.BackToList, "Index")
        </div>
    }
</div>
