@using PagedList.Mvc
@model IssueTracker.ViewModels.ProjectViewModel

@{
    ViewBag.Title = string.Format(ProjectStrings.TitleDetailsIncludeName, Model.Title);
}

<div>
    <h4>@ProjectStrings.TitleDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Email)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SelectedUsers)
        </dt>

        <dd>
            <ul>
                @foreach (var user in Model.Users)
                {
                    <li>@user.Email</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @if (ViewBag.CanEdit)
    {
        @Html.ActionLink(SharedStrings.FormEdit, "Edit", new { id = Model.Code }) @:|
    }
    @Html.ActionLink(ProjectStrings.TitleIndex, "Index")
</p>

@if (Model.IssuesPage.TotalItemCount > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IssuesPage.FirstOrDefault().State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuesPage.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuesPage.FirstOrDefault().Assignee)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model.IssuesPage)
        {
            <tr>
                <td>
                    <span class="label state" style="background-color: @Html.DisplayFor(modelItem => item.State.Colour);">@Html.DisplayFor(modelItem => item.State.Title)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    <br />
                    <i><small>reported by @Html.DisplayFor(modelItem => item.Reporter.Email)</small></i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assignee.Email)
                </td>
                <td>
                    @Html.ActionLink(SharedStrings.ButtonDetails, "Details", "Issues", new { id = item.Code }, null)
                </td>
            </tr>
        }

    </table>

    <Text>@string.Format(@SharedStrings.Paging, Model.IssuesPage.PageCount < Model.IssuesPage.PageNumber ? 0 : Model.IssuesPage.PageNumber, Model.IssuesPage.PageCount)</Text>
    @Html.PagedListPager(Model.IssuesPage, page => Url.Action("Details",
    new { id = Model.Code, page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
}
else
{
    <i>@ProjectStrings.HasNoIssues</i>
}
