@model PagedList.IPagedList<IssueTracker.ViewModels.ProjectViewModel>
@using PagedList.Mvc
@using IssueTracker.Extensions;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Browse Projects";
}

<ul class="nav nav-tabs">
    <li role="presentation" class="@Html.ActivePage("Projects")"><a href="@Url.Action("Index", "Projects")">All</a></li>
    @if (ViewContext.RouteData.Values["action"].ToString() == "Index")
    {
        <li id="create-button">
            <button type="button" class="btn btn-primary" onclick="location.href=location.href +'/Create'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </button>
        </li>
    }
</ul>

<h2>Browse Projects</h2>

<div class="text-danger">@ViewBag.ErrorMessageNotOwner</div>

@if (Model.Count == 0)
{
    <i>No project found. Create @Html.ActionLink("a new project", "Create").</i>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (item.OwnerId.ToString() == ViewBag.LoggedUserId || ViewBag.IsUserAdmin)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:|
                    }                    

                    @Html.ActionLink("Details", "Details", new { id = item.Code })

                    @if (ViewBag.IsUserAdmin)
                    {
                       @:| @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }                    
                </td>
            </tr>
        }
    </table>
    <br />

    <Text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</Text>
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
}
