@model IssueTracker.ViewModels.StateWorkflowViewModel

@{
    Layout = "~/Views/Shared/_SettingsTabbedLayout.cshtml";
    ViewBag.Title = StateWorkflowStrings.TitleDelete;
}

<h2>@ViewBag.Title</h2>

<h3>@SharedStrings.DeleteMessageGeneric</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromStateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromState.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToStateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToState.Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@SharedStrings.FormDelete" class="btn btn-danger" /> |
            @Html.ActionLink(SharedStrings.BackToList, "Index")
        </div>
    }
</div>