@model IssueTracker.Models.StateWorkflow

@{
    ViewBag.Title = "Transition detail";
}

<h2>Transition detail</h2>

<div>
    <h4>State workflow transition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromStateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromState.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToStateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToState.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
