@model IssueTracker.Models.Issue

@{
    ViewBag.Title = "Details";
}
<div>
    <br/>
    <p>
        @Html.DisplayNameFor(model => model.Project):
        @Html.ActionLink(Model.Project.Title, "Details", "Projects", new {id = Model.ProjectId}, null)
    </p>
    <hr />
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    <h4>Details</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reporter):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reporter.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignee):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assignee.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <h4>Comments</h4>

    @using (Html.BeginForm("Create", "Comments", new { id = Model.Id }, FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <input class="btn btn-default dropdown-toggle" type="submit" value="Comment" />
     
    }  

    
</div>
