@model IEnumerable<IssueTracker.Models.Issue>

@{
    ViewBag.Title = "Index";
}

<h2>All Issues</h2>

<p>
    @Html.ActionLink("Create New Issue", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Summary
        </th>
        <th>
            Assigneee
        </th>
        <th>
            Created
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reporter)
        </th>
        <th>
            Project
        </th>
        <th>
            Status
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(Html.DisplayFor(modelItem => item.Name).ToString(), "Details", "Issues", new { id = item.Id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assignee.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reporter.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Title)
        </td>
    </tr>
}

</table>
