@using IssueTracker.ViewModels
@model IssueTracker.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section AddToHead {
    <link href="@Url.Content("~/Content/signin.css")" rel="stylesheet" type="text/css" />
}

@*<form class="form-signin">
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>@ViewBag.Title.</h2>
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>*@

@*<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">*@
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2 class="form-signin-heading">Please sign in</h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address", type="email", autofocus=""})
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                @*<input type="submit" value="Log in" class="btn btn-default" />*@
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    @*</div>*@
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
@*</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}