@using Microsoft.AspNet.Identity
@using IssueTracker.Extensions;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
        <li>
            <a href="@Url.Action("Index", "Manage")" class="@Html.ActivePage("Manage", "gn-selected")">
                <div class="avatarBox">
                    <img src="http://findicons.com/files/icons/2579/iphone_icons/30/salesman.png" />
                </div>
                @User.Identity.GetUserName()
            </a>
            @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
        </li>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
