@using IssueTracker.Extensions;

<div>
    <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu">
                <span>Menu</span>
            </a>
            <nav id="nav" class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <li><a class="gn-icon @Html.ActivePage("Home", "gn-selected")" href="@Url.Action("Index", "Home")"><i class="fa fa-home menu-icon"></i>@LayoutStrings.MenuHome</a></li>
                        <li><a class="gn-icon @Html.ActivePage("Issues", "gn-selected")" href="@Url.Action("Index", "Issues")"><i class="fa fa-tasks menu-icon"></i>@LayoutStrings.MenuIssues</a></li>
                        <li><a class="gn-icon @Html.ActivePage("Projects", "gn-selected")" href="@Url.Action("Index", "Projects")"><i class="fa fa-briefcase menu-icon"></i>@LayoutStrings.MenuProjects</a></li>
                        <li><a class="gn-icon @Html.ActivePage("Users", "gn-selected")" href="@Url.Action("Index", "Users")"><i class="fa fa-users menu-icon"></i>@LayoutStrings.MenuUsers</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole(IssueTracker.Models.UserRoles.Administrators))
                            {
                                <li><a class="gn-icon @(Html.ActivePage("States", "gn-selected") ?? Html.ActivePage("StateWorkflows", "gn-selected"))" href="@Url.Action("Index", "States")"><i class="fa fa-cogs menu-icon"></i>@LayoutStrings.MenuSettings</a></li>
                                <ul class="gn-submenu">
                                    <li><a class="gn-icon gn-icon gn-icon-cog" href="@Url.Action("Index", "States")">@LayoutStrings.MenuStates</a></li>
                                    <li><a class="gn-icon gn-icon gn-icon-cog" href="@Url.Action("Index", "StateWorkflows")">@LayoutStrings.MenuWorkflow</a></li>
                                </ul>
                            }
                        }
                        <li id="logout"><a class="gn-icon" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out menu-icon"></i>@AccountStrings.LogOut</a></li>
                    </ul>
                </div>
            </nav>
        </li>
        @Html.Partial("_CustomLoginPartial")
        <li id="search">
            @using (Html.BeginForm("Index", "Issues"))
            {
                <i class="fa fa-search menu-icon"></i>
                <input id="SearchTitle" name="SearchTitle" placeholder="@LayoutStrings.SearchPlaceholder" type="search" class="gn-search">
            }
        </li>
    </ul>
</div>

@Scripts.Render("~/bundles/autocomplete")