@using IssueTracker.Extensions;

<script>
    $(function () {
        $('#SearchTitle').autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: '@Url.Action("AutoCompleteSearch", "Home")',
                    dataType: "json",
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        query: $("#SearchTitle").val()
                    },
                    success: function(data) {
                        response(data);
                    },
                    error: function(xhr, status, error) {
                        alert(error);
                    }
                });
            },
            select: function (event, ui) {
                window.location = "/en-US/Issues/Details/" + ui.item.Code;
            },
            minLength: 2
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
            return $("<li></li>").data("ui-autocomplete-item", item)
                .append("<a href='/en-US/Issues/Details/" + item.Code+ "'>" + item.Code + ":" + item.Title + "</a>")
                .appendTo(ul);
        };
    });

</script>
<div>
    <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu">
                <span>Menu</span>
            </a>
            <nav id="nav" class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <!-- <li class="gn-search-item"><i class="fa fa-search menu-icon"></i>
                            <input placeholder="Search" type="search" class="gn-search">
                            <a class="gn-icon">
                                <span>Search</span>
                            </a>
                        </li> -->
                        <li><a class="gn-icon @Html.ActivePage("Home", "Index", "gn-selected")" href="@Url.Action("Index", "Home")"><i class="fa fa-home menu-icon"></i>Home</a></li>
                        <li><a class="gn-icon @Html.ActivePage("Issues", "Index", "gn-selected")" href="@Url.Action("Index", "Issues")"><i class="fa fa-tasks menu-icon"></i>Tasks</a></li>
                        <li><a class="gn-icon @Html.ActivePage("Projects", "Index", "gn-selected")" href="@Url.Action("Index", "Projects")"><i class="fa fa-briefcase menu-icon"></i>Projects</a></li>
                        <li><a class="gn-icon @Html.ActivePage("Users", "Index", "gn-selected")" href="@Url.Action("Index", "Users")"><i class="fa fa-users menu-icon"></i>Users</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Administrators"))
                            {
                                <li><a class="gn-icon @Html.ActivePage("States", "Index")" href="@Url.Action("Index", "States")"><i class="fa fa-cogs menu-icon"></i>Settings</a></li>
                                <ul class="gn-submenu">
                                    <li><a class="gn-icon gn-icon gn-icon-cog" href="@Url.Action("Index", "States")">States</a></li>
                                    <li><a class="gn-icon gn-icon gn-icon-cog" href="@Url.Action("Index", "StateWorkflows")">Workflow</a></li>
                                </ul>
                            }
                        }
                        <li id="logout"><a class="gn-icon" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out menu-icon"></i>Logout</a></li>
                    </ul>
                </div>
                <!-- /gn-scroller -->
            </nav>
        </li>
        @Html.Partial("_CustomLoginPartial")
        @*<li><a href="">Logout</a></li>*@
        <li id="search">
        @using (Html.BeginForm("Index", "Issues"))
        {
            <i class="fa fa-search menu-icon"></i>
            <input id="SearchTitle" name="SearchTitle" placeholder="Search" type="search" class="gn-search">
        }
            </li>
        <!-- <li><a href="http://tympanus.net/codrops">Codrops</a></li> -->
        <!-- <li><a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Development/HeaderEffects/"><span>Previous Demo</span></a></li> -->
        <!-- <li><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=16030"><span>Back to the Codrops Article</span></a></li> -->
    </ul>
</div>